@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">

    <h2 class="my-3" >BENVENUTO NEL SITO DEL DIPARTIMANTO DI POLIZIA MUNICIPALE</h2>
    <img class="my-3" src="https://us.123rf.com/450wm/redrockerz/redrockerz1609/redrockerz160900052/65839215-agente-di-polizia-design-illustrazione.jpg?ver=6" alt="polizia" />  <br />
    <a asp-controller="Police" asp-action="InserisciDati">Inserisci Dati</a> <br/>
    <a asp-controller="Police" asp-action="AnagrafaTrasgressore">Visualizza Anagrafa Trasgressori</a>

</div>



    
